@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #ffffff;
}

body {
  background: radial-gradient(circle at top, #312e81, #020617);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background:
    radial-gradient(circle at 20% 20%, rgba(168,85,247,0.15), transparent 30%),
    radial-gradient(circle at 80% 30%, rgba(236,72,153,0.12), transparent 30%),
    radial-gradient(circle at 50% 80%, rgba(59,130,246,0.12), transparent 30%);
  pointer-events: none;
  z-index: -1;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}
* {
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease,
    transform 0.3s ease;
}
body::after {
  content: "";
  position: fixed;
  inset: 0;
  background-image:
    linear-gradient(rgba(255,255,255,0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.03) 1px, transparent 1px);
  background-size: 40px 40px;
  pointer-events: none;
  z-index: -2;
}
body {
  background: #050505;
}

.glow {
  position: fixed;
  width: 500px;
  height: 500px;
  background: radial-gradient(
    circle,
    rgba(168,85,247,0.15),
    transparent 70%
  );
  pointer-events: none;
  border-radius: 9999px;
  filter: blur(60px);
  transform: translate(-50%, -50%);
  z-index: -1;
}
.fade-section {
  animation: fadeUp 1s ease forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}